.map {
  width: 100vw;
  height: 100vh;
}

/* Style for the modal body */
.modal-body {
  flex: 1; /* Use flex for the modal body */
  overflow-y: auto;
  max-height: 75vh;
}

/* Adjust the style for the forecast period image */
.forecast-period-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}
