.map {
  width: 100vw;
  height: 100vh;
}

.popup-title {
  font-weight: bold;
}

.ol-popup-outer {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  /*width: auto; /* Set the popup width to adjust to content */
}

/* Define styles for the popup */
.ol-popup {
  position: absolute;
  max-height: 250px;
  overflow-y: scroll;
  background-color: white;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
  /* border-radius: 10px; */
  /* padding-top: 25px; */
  width: auto; /* Set the popup width to adjust to content */
}

/* Add styles for the top bar */
.ol-popup-top-bar {
  min-height: 30px; /* Set a minimum height for the title bar */
  background-color: #f8f8f8; /* Add background color for better visibility */
  border-bottom: 1px solid white; /* Add a border to separate title and content */
  width: 750px;
  padding-left: 17.5px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

/* Style for the "No data available" popup */
.no-data-content {
  background-color: #ffffff; /* Example: change the background color to red */
  color: rgb(0, 0, 0); /* Example: change the text color to white */
  text-align: left; /* Example: center-align the text */
  font-weight: bold; /* Example: make the text bold */
  width: 350px;
  display: flex;
  flex-direction: row;
}

/* Customize the popup box itself */
.popup-content {
  max-height: auto;
  width: 750px;
  white-space: nowrap;
}

/* Style for each forecast period */
.forecast-period {
  padding: 8px; /* Add padding for better readability */
  border-right: 1px solid #ccc;
  white-space: normal;
  width: 250px;
  display: inline-block;
  vertical-align: top;
}

/* Style for the forecast period image */
.forecast-period-image {
  max-height: 100px; /* Set the maximum height for the image */
  flex: none; /* Prevent image from flexing */
  display: block;
  margin: 0 auto;
  align-self: flex-start;
}

/* Style for the centered text */
.centered-text {
  text-align: center;
}

/* Style for the rest of the text (left-aligned) */
.forecast-text {
  text-align: left;
}
