.map {
  width: 100vw;
  height: 100vh;
}

.popup-title {
  font-weight: bold;
  overflow: hidden; /* Hide any overflowing content */
  white-space: nowrap; /* Prevent text from wrapping */
  text-overflow: ellipsis; /* Display an ellipsis (...) to represent overflow */
}

.forecast-title-popup-container {
  width: 750px;
}

.no-data-title-popup-container {
  width: 395px;
}

.ol-popup-outer {
  position: absolute;
  background-color: white;
  /* border-bottom: 1px solid rgb(0, 0, 0); */
}

/* Define styles for the popup */
.ol-popup {
  position: absolute;
  max-height: 500px;
  overflow-y: scroll;
  background-color: white;
}

/* Add styles for the top bar */
.ol-popup-top-bar {
  min-height: 30px; /* Set a minimum height for the title bar */
  background-color: white; /* Add background color for better visibility */
  padding-left: 5%;
  padding-top: 4px;
}

/* Styles for popup closer */
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

/* Style for the "No data available" popup */
.no-data-content {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: bold;
  width: 375px;
  height: 25px;
  padding-left: 5%;
}

/* Customize the popup box itself */
.popup-content {
  height: 300px;
  width: 750px;
  white-space: nowrap;
}

/* Style for each forecast period */
.forecast-period {
  padding: 8px; /* Add padding for better readability */
  border-right: 1px solid #ccc;
  white-space: normal;
  width: 250px;
  display: inline-block;
  vertical-align: top;
}

/* Style for the forecast period image */
.forecast-period-image {
  max-height: 100px; /* Set the maximum height for the image */
  flex: none; /* Prevent image from flexing */
  display: block;
  margin: 0 auto;
  align-self: flex-start;
}

/* Style for the centered text */
.centered-text {
  text-align: center;
}

/* Style for the rest of the text (left-aligned) */
.forecast-text {
  text-align: left;
}
