<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Flask App</title>

    <!-- Include Tailwind CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/openlayers@latest/dist/ol.css"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/openlayers@latest/dist/ol.js"></script>

    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <!-- Basemap -->
    <div id="map" class="map"></div>

    <!-- Forecast Modal -->
    <div
      class="modal hidden fixed inset-0 overflow-y-auto backdrop-filter backdrop-blur"
      id="forecastModal"
      aria-modal="true"
      aria-labelledby="forecastModalLabel"
    >
      <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white mx-auto w-4/5 p-4 rounded-lg relative">
          <!-- Close button -->
          <button
            type="button"
            class="absolute top-0 right-0 mt-2 mr-4 p-2 text-xl md:text-2xl lg:text-3xl xl:text-4xl"
            aria-label="Close"
            id="closeForecastModalBtn"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- Modal content -->
          <div class="modal-header">
            <h5 class="modal-title" id="forecastModalLabel"></h5>
          </div>
          <div class="modal-body">
            <div id="popup-content" class="column"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- No Data Modal -->
    <div
      class="modal hidden fixed inset-0 overflow-y-auto backdrop-filter backdrop-blur-sm"
      id="noDataModal"
    >
      <div class="flex items-center justify-center min-h-screen">
        <div class="bg-white mx-auto w-4/5 p-4 rounded-lg relative">
          <!-- Close button -->
          <button
            type="button"
            class="absolute top-0 right-0 mt-2 mr-4 p-2 text-4xl"
            aria-label="Close"
            id="closeNoDataModalBtn"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- Modal content -->
          <div class="modal-header">
            <h5 class="modal-title" id="noDataModalLabel"></h5>
          </div>
          <div class="modal-body">
            <div id="no-data-content" class="column"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/main.js"></script>
  </body>
</html>
